<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Task 3 - Wine Quality</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
    {% csrf_token %}
    <script>
        // Function to delete a record
        async function deleteRecord(id) {
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            
            try {
                const response = await fetch(`/delete/${id}`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrftoken,
                        'Content-Type': 'application/json'
                    }
                });
        
                if (!response.ok) {
                    const errorData = await response.json();
                    window.location.href = `error?message=${encodeURIComponent(errorData.error || 'Unknown error')}`;
                } else {
                     //Refresh the data after successful deletion
                    window.location.href = ``;
                    //fetchData();
                }
            } catch (error) {
                console.error('Error occurred deleting record: ', error);
                window.location.href = `error?message=${encodeURIComponent('Error occurred deleting record: ' + error)}`;
            }
        }

        
        // Function to retrieve data from the API
        async function fetchData() {
            try {
                const response = await fetch('/api/data');
                const data = await response.json();
                
                if (!response.ok) {
                    window.location.href = `error?message=${encodeURIComponent((await response.json()).error)}`;
                }

                // Displaying data on the page
                const tableBody = document.getElementById('wine-table');
                tableBody.innerHTML = '';
                data.forEach((wine, index) => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${index + 1}</td>
                        <td>${wine.id}</td>
                        <td>${wine.fixed_acidity}</td>
                        <td>${wine.volatile_acidity}</td>
                        <td>${wine.citric_acid}</td>
                        <td>${wine.residual_sugar}</td>
                        <td>${wine.chlorides}</td>
                        <td>${wine.free_sulfur_dioxide}</td>
                        <td>${wine.total_sulfur_dioxide}</td>
                        <td>${wine.density}</td>
                        <td>${wine.pH}</td>
                        <td>${wine.sulphates}</td>
                        <td>${wine.alcohol}</td>
                        <td>${wine.quality}</td>
                        <td>
                            <button class="btn red" onclick="deleteRecord(${wine.id})">Delete</button>
                        </td>
                    `;
                    tableBody.appendChild(row);
                });
            } catch (error) {
                console.error('Błąd pobierania danych: ', error);
                window.location.href = `error?message=${encodeURIComponent('Błąd pobierania danych: ' + error)}`;
            }
        }
        
        window.onload = fetchData;
    </script>
</head>
<body>
    <nav class="lime accent-1">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center" style="color: #882f14">Python task 3 - Wine Quality</a>
            <ul id="nav-mobile" class="right">
                <li><a href="/" class="black-text">Home</a></li>
                <li><a href="/add" class="black-text">Add Record</a></li>
                <li><a href="/predict" class="black-text">Prediction</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="container">
        <h3 class="center-align">Objects</h3>
        
        <table class="striped centered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Fixed acidity</th>
                    <th>Volatile acidity</th>
                    <th>Citric acid</th>
                    <th>Residual sugar</th>
                    <th>Chlorides</th>
                    <th>Free sulfur dioxide</th>
                    <th>Total sulfur dioxide</th>
                    <th>Density</th>
                    <th>pH</th>
                    <th>Sulphates</th>
                    <th>Alcohol</th>
                    <th>Quality</th>
                </tr>
            </thead>
            <tbody id="wine-table"></tbody>
        </table>
    </div>
</body>
</html>


<style>
    thead {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 2;
        border-bottom: 1px solid black;
    }
</style>