<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predict quality</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
    {% csrf_token %}
    <script>
        async function handleSubmit(event) {
            event.preventDefault();
            
            const data = {
                fixed_acidity: document.getElementById("fixed_acidity").value,
                volatile_acidity: document.getElementById("volatile_acidity").value,
                citric_acid: document.getElementById("citric_acid").value,
                residual_sugar: document.getElementById("residual_sugar").value,
                chlorides: document.getElementById("chlorides").value,
                free_sulfur_dioxide: document.getElementById("free_sulfur_dioxide").value,
                total_sulfur_dioxide: document.getElementById("total_sulfur_dioxide").value,
                density: document.getElementById("density").value,
                pH: document.getElementById("pH").value,
                sulphates: document.getElementById("sulphates").value,
                alcohol: document.getElementById("alcohol").value,
            };

            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            try {
                const response = await fetch('/predict', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrftoken,
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                });

                if (response.ok) {
                    M.toast({ html: 'Record predicted successfully!', classes: 'green' });
                    document.querySelector('form').reset();
                    
                    const result = await response.json();
                    const prediction = result.prediction;
                    
                    window.location.href = `result?prediction=${encodeURIComponent(prediction)}`;
                } else {
                    M.toast({ html: 'Failed to predict record.', classes: 'red' });
                    //window.location.href = `error?message=${encodeURIComponent('Failed to predict record.')}`;
                    window.location.href = `error?message=${encodeURIComponent((await response.json()).error)}`;
                }
            } catch (error) {
                console.error('Error:', error);
                M.toast({ html: 'Error occurred.', classes: 'red' });
                window.location.href = `error?message=${encodeURIComponent('Error occurred during prediction.')}`;
                //window.location.href = `/error?message=${encodeURIComponent(error.message)}`;
            }
        }
        
        async function handleGenerateRandom(event) {
            event.preventDefault();
            
            try {
                const response = await fetch('/api/data/example', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                });
                
                if (response.ok) {
                    const randomData = await response.json();
                    
                    document.getElementById("fixed_acidity").value = randomData.fixed_acidity;
                    document.getElementById("volatile_acidity").value = randomData.volatile_acidity;
                    document.getElementById("citric_acid").value = randomData.citric_acid;
                    document.getElementById("residual_sugar").value = randomData.residual_sugar;
                    document.getElementById("chlorides").value = randomData.chlorides;
                    document.getElementById("free_sulfur_dioxide").value = randomData.free_sulfur_dioxide;
                    document.getElementById("total_sulfur_dioxide").value = randomData.total_sulfur_dioxide;
                    document.getElementById("density").value = randomData.density;
                    document.getElementById("pH").value = randomData.pH;
                    document.getElementById("sulphates").value = randomData.sulphates;
                    document.getElementById("alcohol").value = randomData.alcohol;

                    M.updateTextFields();
                    M.toast({ html: 'Random values generated!', classes: 'green' });
                } else {
                    M.toast({ html: 'Failed to generate random values.', classes: 'red' });
                }
            } catch (error) {
                console.error('Error:', error);
                M.toast({ html: 'Error occurred.', classes: 'red' });
            }
        }

        document.addEventListener("DOMContentLoaded", () => {
            const form = document.querySelector("form");
            form.addEventListener("submit", handleSubmit);
            
            const generateButton = document.getElementById("generate-random");
            generateButton.addEventListener("click", handleGenerateRandom);
        });
        
    </script>
</head>
<body>
    <nav class="lime accent-1">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center" style="color: #882f14">Python task 3 - Wine Quality</a>
        </div>
    </nav>

    <div class="row container">
        <form class="col s12">
            <div class="row">
                <div class="col s6">
                    <div class="input-field">
                        <input id="fixed_acidity" type="text" class="validate">
                            <label for="fixed_acidity">Fixed acidity</label>
                        </input>
                    </div>
                    
                    <div class="input-field">
                        <input id="volatile_acidity" type="text" class="validate">
                            <label for="volatile_acidity">Volatile acidity</label>
                        </input>
                    </div>
                    
                    <div class="input-field">
                        <input id="citric_acid" type="text" class="validate">
                            <label for="citric_acid">Citric acid</label>
                        </input>
                    </div>
                    
                    <div class="input-field">
                        <input id="residual_sugar" type="text" class="validate">
                            <label for="residual_sugar">Residual sugar</label>
                        </input>
                    </div>
                    
                    <div class="input-field">
                        <input id="chlorides" type="text" class="validate">
                            <label for="chlorides">Chlorides</label>
                        </input>
                    </div>
                    
                    <div class="input-field">
                        <input id="free_sulfur_dioxide" type="text" class="validate">
                            <label for="free_sulfur_dioxide">Free sulfur dioxide</label>
                        </input>
                    </div>
                </div>
                
                <div class="col s6">
                    <div class="input-field">
                        <input id="total_sulfur_dioxide" type="text" class="validate">
                            <label for="total_sulfur_dioxide">Total sulfur dioxide</label>
                        </input>
                    </div>
                    
                    <div class="input-field">
                        <input id="density" type="text" class="validate">
                            <label for="density">Density</label>
                        </input>
                    </div>
                    
                    <div class="input-field">
                        <input id="pH" type="text" class="validate">
                            <label for="pH">pH</label>
                        </input>
                    </div>
                    
                    <div class="input-field">
                        <input id="sulphates" type="text" class="validate">
                            <label for="sulphates">Sulphates</label>
                        </input>
                    </div>
                    
                    <div class="input-field">
                        <input id="alcohol" type="text" class="validate">
                            <label for="alcohol">Alcohol</label>
                        </input>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <button type="submit" class="btn waves-effect waves-light lime accent-1 black-text">
                    Predict
                </button>
                
                <button id="generate-random" class="btn waves-effect waves-light lime accent-1 black-text">
                    Generate random values
                </button>
            </div>
        </form>
    </div>

</body>
</html>